
body{
    background-color: rgb(104, 201, 144);
   
}
.mainbody{
     filter: blur(10px) brightness(0.9);
}
 
   
 



main{
     margin-top: 45px;
     height: 78vh;
     width: 34vw;
     border: none;
     background-color: rgb(147, 250, 190);
     border-radius: 20px;
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.20);

     
}
.main2{
    display: flex;
    justify-content: center;
}
/* searchbar */
.searchbar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#searchinp{
    height: 50px;
    width: 400px;
    border: none;
    border-radius:10px ;



}
button{
    background: white;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}
button:hover{
    cursor: pointer;
    background-color: rgb(197, 219, 255);
}
input{
    font-size: 25px;
    border: none;
    outline: none;
    
}
input:hover{
    cursor: pointer;
    background-color: rgb(168, 233, 253);
}
::placeholder{
    font-size: 20px;
    padding-left: 7px;
}
/* error message */
.errormessage{
    display: none;
    width: 250px;
    height: 70px;
    padding-left: 4px;
    margin-left: 100px;
    margin-top: 13px;
    font-size: 20px;
    color: rgb(71, 71, 71);
    border: none;
    background-color: white;
    border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;
}
/* weather images and text */
.weatherimages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.weathertext{
    font-size: 50px;
    padding-top: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}
/* weatherdetails */

.weatherdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 60px;
}
#humidity{
    display: flex;
    


}
#watertext{
    font-size: 37px;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#windspeed{
    display: flex;
}
.windtext{
     font-size: 37px;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cityname{
    font-size: 30px;
    font-family: 'sans-serif';
}
@media screen and (max-width: 424px) {
    /* #searchinp{
        width: 250px;
    }
    main{
        width: 82vw;
        height: 72vh;
    }
    .searchbar{
        gap: 5px;
    } */
    #scanbutton{
        /* width: 40x; */
        /* height: 40px; */
        /* border-radius: 40%; */
    }
    /* #searchkey{
        height: 25px;
        width: 25px;
    }
    .weather-icon{
        height: 150px;
        width: 150px;
    }
    .weathertext{
        font-size: 30px;
    }
    #water{
        height: 60px;
        width: 60px;
    }
    #watertext{
        font-size: 20px;
    }
    #windpic{
        height: 55px;
        width: 55px;
    }
    .windtext{
        font-size: 20px;
    }
    .weatherdetails{
        gap: 40px;
    } */
}
@media  screen and (max-width:410px) {
    /* main{
        width: 90vw;
        margin-left: 18px;
    }
    
}
@media  screen and (max-width:372px){
    main{
        width: 100vw;
    }
    #watertext{
        font-size: 15px;
    }
    .windtext{
        font-size: 15px;
    }
     #scanbutton{
        height: 45px;
        width: 45px;
    }
  
    #searchinp{
        width: 240px;
    } */

}
@media  screen and (max-width:330px){
    /* #water{
        height: 50px;
        width: 50px;
    }
    #windpic{
        height: 45px;
        width: 45px;
    }
    #scanbutton{
        height: 40px;
        width: 40px;
    }
  
    #searchinp{
        width: 230px;
    } */

}
@media  screen and (max-width:338px){
    /* main{
        margin-right: 7px;
    }
     #scanbutton{
        height: 43px;
        width: 43px;
    }
  
    #searchinp{
        width: 233px;
    }
}
@media screen and (max-width:327px){
     #scanbutton{
        height: 35px;
        width: 35px;
    }
  
    #searchinp{
        width: 225px;
    } */
}
@media screen and (max-width:428px){
   /* .windtext{
    font-size: 20px;
   }
   #windpic{
    height: 55px;
    width: 55px;
   }
   #water{
    height: 60px;
    width: 60px;
   }
   main{
    height: 74vh;
   } */
}
@media  screen and (max-width:1831px){
    main{
    
        /* height: 90vh; */
    }
    .windtext{
        font-size: 33px;
    }
    
}
@media  screen and (max-width:1797px){
  .windtext{
    font-size: 31px;
  }
}
@media  screen and (max-width:1769px){
   .windtext{
    font-size: 27px;
  }
}
@media  screen and (max-width:1727px){
     .windtext{
    font-size: 24px;
  }
  #watertext{
    font-size: 27px;
  }
}
@media  screen and (max-width:1727px){
    .windtext{
        font-size: 20px;
    }
    #watertext{
    font-size: 24px;
  }
}
@media  screen and (max-width:1467px){
   #windpic{
    height: 70px;
    width: 70px;
   }
   #water{
    height: 80px;
    width: 80px;
   }
    #searchinp{
    width: 350px;
   }
}
@media  screen and (max-width:1381px){
    .weather-icon{
        height: 250px;
        width: 250px;
    }
    .weatherdetails{
        gap: 90px;
    }

}
@media  screen and (max-width:1247px){
    #searchinp{
        width: 330px;
    }
    .weather-icon{
        height: 220px;
        width: 220px;
    }
    .weathertext{
        font-size: 40px;
    }
    .weatherdetails{
        gap: 75px;
    }
    /* main{
        height: 58vh;
        
    } */
     #windpic{
    height: 55px;
    width: 55px;
   }
   #water{
    height: 60px;
    width: 60px;
   }
    
}
@media  screen and (max-width:1280px){
      .weather-icon{
        height: 200px;
        width: 200px;
    }
     .weatherdetails{
        gap: 75px;
    }
     #searchinp{
        width: 310px;
    }
    
}
@media  screen and (max-width:1170px){
    #searchinp{
        width: 300px;
    } 
    .searchbar{
        gap: 10px;
    }
    .weathertext{
        font-size: 35px;
    }
    .weatherdetails{
        gap: 60px;
    }
} 
@media  screen and (max-width:1111px){
     #searchinp{
        width: 280px;
    }
    #watertext{
        font-size: 20px;
    }
}
@media  screen and (max-width:1048px){
   #searchinp{
    width: 270px;
   }
   button{
    height: 45px;
    width: 45px;
   }
   #searchkey{
    height: 25px;
    width: 25px;
   }
   .weatherdetails{
    gap: 40px;
   }
}
@media  screen and (max-width:1003px){
   #windpic{
    height: 50px;
    width: 50px;
   }
   #water{
    height: 55px;
    width: 55px;
   }
   #searchinp{
    width: 250px;
   }
   .windtext{
    font-size: 18px;
   }
}
@media  screen and (max-width:937px){
   main{
    width: 38vw;
   }
}
@media  screen and (max-width:832px){
    main{
    width: 42vw;
   }
}
@media  screen and (max-width:761px){
    main{
        width: 46vw;
    }
}
@media  screen and (max-width:698px){
    main{
        width: 50vw;
    }
}
@media  screen and (max-width:643px){
    main{
        width: 54vw;
    }
}
@media  screen and (max-width:590px){
     main{
        width: 58vw;
    }
}
@media  screen and (max-width:548px){
  main{
    width: 62vw;
  }
}
@media  screen and (max-width:590px){
    .weather-icon{
        height: 180px;
        width: 180px;
    }
    .weathertext{
        font-size: 30px;
    }
    main{
        width: 66vw;
    }

}
@media  screen and (max-width:487px){
    main{
        width: 78vw;
    }

}
@media  screen and (max-width:411px){
   main{
    width: 82vw;
   }
}
@media  screen and (max-width:390px){
  main{
    width: 86vw;
    height: 90vh;
  }
  #searchinp{
    width: 240px;
  }
}
@media  screen and (max-width:372px){
   main{
    width: 90vw;
   }
}
@media  screen and (max-width:356px){
   main{
    width: 94vw;
    margin-right: 15px;
   }
   #windtext{
    font-size: 15px;
   }
   #watertext{
    font-size: 15px;
   }
   #searchinp{
    width: 220px;
   }
}
@media  screen and (max-width:324px){
    main{
        width: 100vw;
    }
    .weather-icon{
        height: 150px;
        width: 150px;
    }
}
@media  screen and (max-width:297px){
  .weatherdetails{
    gap: 30px;
  }
   .errormessage{
    margin-right: 20px;
    width: 100px;
    height: 40px;
    font-size: 13px;
   }
   #error{
    height: 15px;
    width: 15px;
   }
}
@media  screen and (max-width:1619px){
  .errormessage{
    width: 200px;
    height: 60px;
    padding-left: 3px;
    margin-left: 60px;
  }
}
@media  screen and (max-width:1469px){
   .errormessage{
    margin-left: 50px;
    width: 170px;
    height: 55px;
    font-size: 18px;
   }
 }
 @media  screen and (max-width:1000px){
   .errormessage{
    margin-left: 40px;
    width: 150px;
    height: 50px;
    font-size: 15px;
   }
   #error{
    height: 20px;
    width: 20px;
   }
 }
 @media  screen and (max-width:284px){
     .errormessage{
        margin-left: 30px;
        width: 120px;
        height: 40px;
        font-size: 12px;
     }
     #error{
        height: 15px;
        width: 15px;
     }
 }